@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
@import './variables';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  color: $color-default-black;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.4em;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
