$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

$color-primary-deep:    #0B22A8;
$color-primary:         #3359DF;
$color-primary-light:   #6376F9;
$color-primary-faint:   #6E87EE;
$color-primary-lighter: #A1B0FF;
$color-success:         #77CF42;
$color-danger:          #F0405E;
$color-info:            #0FD8E8;
$color-warning:         #F7941E;
$color-lightgrey:       #eeeeee;
$color-default-black:   #444444;
$color-sidebar-bg:      #EBEEF3;
$color-white-text:      #FFFFFF;

$purple:                #A72DD4;
$light-green:           #09DBAA;
$color-google:          #DE321D;

